body {
  padding: 0;
  margin: 0;
  background: #e9eefb;
  min-height: 100vh;
  max-height: 100vh;
  height: 100vh;
  box-sizing: border-box;
}

html {
  font-size: 18px;
  line-height: 10px;
  font-family: 'Roboto', sans-serif;
}

button {
  background: none;
  border: none;
  outline: none;
}

.nav-container {
  background-color: #e4dbf8;
}

.book_cards_container {
  display: flex;
  justify-content: space-between;
  padding: 0 90px;
  max-width: 1200px;
  gap: 40px 10px;
  flex-wrap: wrap;
  font-size: 2rem;
  line-height: 2.1rem;
  margin: 0 auto;
}

.card {
  width: 250px;
}
